html, body{
	width: 100%;
	height: 100%;
	background:#f2f5f9;
}
.container{
	width:100%;
	height:100%;
	text-align: center;
}
form{
	margin-top: 15px;
}
#scroll-area{
	border-radius: 15px;
	width:80%;
	height:70%;
	margin:25px auto;
	box-shadow: 3px 3px 5px #888;
	overflow:scroll;
	
}
img{
	margin:0 auto;
	display: block;
	height: 100%;
	padding:5px;
	border-radius: 15px;
}