html, body{
	width: 100%;
	height: 100%;
}
.container{
	margin:0;
	padding: 0;
	width:100%;
	height:100%;
	text-align: center;
}
form{
	margin-top: 10px;
	margin-bottom: 5px;
}
#form-area{
	position: fixed;
	top:0;
	width:100%;

	background: rgba(211, 220, 234,0.5);
}
#scroll-area{
	background:#f2f5f9;
	width:100%;
	height:100%;
	margin:0 auto;
	box-shadow: 3px 3px 5px #4f5c70;
	overflow-y:scroll;
}
img{
	margin:0 auto;
	display: block;
	height: 100%;
	max-width: 100%;
	padding-top:5px;
	border-radius: 15px;
	 
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.6);
}